.plus {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjQ1LjQwMnB4IiBoZWlnaHQ9IjQ1LjQwMnB4IiB2aWV3Qm94PSIwIDAgNDUuNDAyIDQ1LjQwMiI+CjxwYXRoIGQ9Ik00MS4yNjcsMTguNTU3SDI2LjgzMlY0LjEzNEMyNi44MzIsMS44NTEsMjQuOTksMCwyMi43MDcsMGMtMi4yODMsMC00LjEyNCwxLjg1MS00LjEyNCw0LjEzNXYxNC40MzJINC4xNDEgICBjLTIuMjgzLDAtNC4xMzksMS44NTEtNC4xMzgsNC4xMzVjLTAuMDAxLDEuMTQxLDAuNDYsMi4xODcsMS4yMDcsMi45MzRjMC43NDgsMC43NDksMS43OCwxLjIyMiwyLjkyLDEuMjIyaDE0LjQ1M1Y0MS4yNyAgIGMwLDEuMTQyLDAuNDUzLDIuMTc2LDEuMjAxLDIuOTIyYzAuNzQ4LDAuNzQ4LDEuNzc3LDEuMjExLDIuOTE5LDEuMjExYzIuMjgyLDAsNC4xMjktMS44NTEsNC4xMjktNC4xMzNWMjYuODU3aDE0LjQzNSAgIGMyLjI4MywwLDQuMTM0LTEuODY3LDQuMTMzLTQuMTVDNDUuMzk5LDIwLjQyNSw0My41NDgsMTguNTU3LDQxLjI2NywxOC41NTd6IiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPg==)
}