.plus {
    height: 100%;
    width: 100%;
    --plus-width: 1%;
}

.plus::before,
.plus::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
}

.plus::before {
    width: var(--plus-width);
    height: 50%;
}

.plus::after {
    width: 50%;
    height: var(--plus-width);
}