:root {
    --player-control-height: 60px;
    --player-control-padding: 20px;
    --button-action-size: calc(var(--player-control-height) - 2 * var(--player-control-padding));
    --seek-bar-height: calc(var(--button-action-size) / 2);
    --seek-bar-handle-size: calc(2 * var(--seek-bar-height));
}

.outer-container {
    position: relative;
    height: 100%;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

@media (min-width: 720px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    /* TODO */
    max-height: 80vh;
    overflow-y: auto;
}

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: inherit;
    background-color: grey;
    border-radius: 10px 10px 0 0;
    padding: var(--player-control-padding);
    height: var(--player-control-height);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-action {
    width: 0;
    border: 0;
    background: transparent;
    height: var(--button-action-size);

    border-color: transparent transparent transparent whitesmoke;
    opacity: .7;
    transition: 100ms opacity ease;
    cursor: pointer;

    border-style: solid;
    border-width: calc(.5 * var(--button-action-size)) 0 calc(.5 * var(--button-action-size)) calc(.8 * var(--button-action-size));
}

.button-action.pause {
    border-style: double;
    border-width: 0 0 0 calc(.8 * var(--button-action-size));
}

.button-action:hover {
    opacity: 1;
}

.time-display {
    text-align: center;
    font-size: 1.2em;
    min-width: 6em;
    color: whitesmoke;
}

.seek-bar {
    flex-grow: 1;
    appearance: none;
    height: var(--seek-bar-height);
    min-width: 2em;
    background: whitesmoke;
    outline: none;
    border-radius: 100vw;
    opacity: 0.7;
    transition: opacity .2s;
}

.seek-bar:hover {
    opacity: 1;
}

.seek-bar::-webkit-slider-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}

.seek-bar::-moz-range-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}

.video-player-wrapper {
    --border-radius: 30px;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .15);
}

.video-player-wrapper iframe {
    border-radius: var(--border-radius);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.video-player-cover {
    border-radius: var(--border-radius);
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .2s 100ms;
}

.video-player-cover:not(.ended).paused {
    transition: background-color 0s 0s;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+)
}

.video-player-cover.ended {
    transition: background-color 0s 0s;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)
}