:root {
    --player-control-height: 60px;
    --player-control-padding: 20px;
    --button-action-size: calc(var(--player-control-height) - 2 * var(--player-control-padding));
    --seek-bar-height: calc(var(--button-action-size) / 2);
    --seek-bar-handle-size: calc(2 * var(--seek-bar-height));
}

.project-container {
    height: calc(100% - var(--player-control-height));
}

.player-controls {
    background-color: grey;
    border-radius: 10px 10px 0 0;
    padding: var(--player-control-padding);
    height: var(--player-control-height);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-action {
    width: 0;
    border: 0;
    background: transparent;
    height: var(--button-action-size);

    border-color: transparent transparent transparent whitesmoke;
    opacity: .7;
    transition: 100ms opacity ease;
    cursor: pointer;

    border-style: solid;
    border-width: calc(.5 * var(--button-action-size)) 0 calc(.5 * var(--button-action-size)) calc(.8 * var(--button-action-size));
}

.button-action.pause {
    border-style: double;
    border-width: 0 0 0 calc(.8 * var(--button-action-size));
}

.button-action:hover {
    opacity: 1;
}

.clock {
    text-align: center;
    font-size: 1.2em;
    min-width: 6em;
    color: whitesmoke;
}

.seek-bar {
    flex-grow: 1;
    appearance: none;
    height: var(--seek-bar-height);
    min-width: 2em;
    background: whitesmoke;
    outline: none;
    border-radius: 100vw;
    opacity: 0.7;
    transition: opacity .2s;
}

.seek-bar:hover {
    opacity: 1;
}

.seek-bar::-webkit-slider-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}

.seek-bar::-moz-range-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}