:root {
    --player-control-height: 70px;
    --player-control-padding: 20px;
    --button-action-size: calc(var(--player-control-height) - 2 * var(--player-control-padding));
    --seek-bar-height: calc(var(--button-action-size) / 2);
    --seek-bar-handle-size: calc(2 * var(--seek-bar-height));
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - var(--player-control-height));
    column-gap: 1em;
}

.content-container .moments-container {
    flex-basis: 100%;
}

@media (min-width: 720px) {
    .content-container {
        flex-direction: row;
        height: calc(100% - var(--player-control-height));
        padding-top: 1em;
    }

    .content-container .player-container {
        flex-basis: 100%;
        padding: 10px 0 0 10px;
    }
}

.moments-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.panel-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    gap: 1em;
    overflow-y: auto;
    padding: 10px 10px 1em 10px;
}