.player-controls {
    background-color: grey;
    padding: var(--player-control-padding);
    height: var(--player-control-height);
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 720px) {
    .player-controls {
        border-radius: 10px 10px 0 0;
    }
}

.player-controls .button-action {
    width: 0;
    border: 0;
    background: transparent;
    height: var(--button-action-size);

    border-color: transparent transparent transparent whitesmoke;
    opacity: .7;
    transition: 100ms opacity ease;
    cursor: pointer;

    border-style: solid;
    border-width: calc(.5 * var(--button-action-size)) 0 calc(.5 * var(--button-action-size)) calc(.8 * var(--button-action-size));
}

.player-controls .button-action.pause {
    border-style: double;
    border-width: 0 0 0 calc(.8 * var(--button-action-size));
}

.player-controls .button-action:hover {
    opacity: 1;
}

.player-controls .time-display {
    text-align: center;
    font-size: 1.2em;
    min-width: 6em;
    color: whitesmoke;
}

.player-controls .seek-bar {
    flex-grow: 1;
    appearance: none;
    height: var(--seek-bar-height);
    min-width: 2em;
    background: whitesmoke;
    outline: none;
    border-radius: 100vw;
    opacity: 0.7;
    transition: opacity .2s;
}

.player-controls .seek-bar:hover {
    opacity: 1;
}

.player-controls .seek-bar::-webkit-slider-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}

.player-controls .seek-bar::-moz-range-thumb {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: var(--seek-bar-handle-size);
    width: var(--seek-bar-handle-size);
    background: peru;
    cursor: pointer;
}