.homeContainer {
    display: flex;
    flex-direction: column;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 1rem;
}

.projectRows {
    box-shadow: 0 2px 2px rgb(0 0 0 / .15);
}

.buttonProjectAdd {
    align-self: flex-end;
    display: block;
    margin-top: 1rem;
    border-radius: 5px;
    padding: .5rem;
    outline: none;
    border: none;
    color: var(--color-primary);
    font-size: 1em;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    background-size: 200% auto;
    cursor: pointer;
    transition: background-position .5s;

    &:hover {
        background-position: right center;
    }
}