.video-wrapper {
    /* magic number for which YouTube will not show relevant videos */
    --video-player-max-height: 289px;
    --video-player-aspect-ratio: 16 / 9;
    max-width: var(--video-player-max-height) * var(--video-player-aspect-ratio);
    aspect-ratio: var(--video-player-aspect-ratio);
    box-shadow: 0px 3px 4px rgb(0 0 0 / .15);
}

.video-scaling-container {
    max-height: var(--video-player-max-height);
    aspect-ratio: var(--video-player-aspect-ratio);
    transform-origin: top left;
}

@media (min-width: 720px) {
    .video-wrapper {
        /* border-radius is set by component */
    }

    .video-wrapper iframe {
        border-radius: 5px;
    }
}