.project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

.project-row:hover {
    background-color: #ddd;
}

.label-project-name {
    flex-grow: 1;
    height: 3rem;
    line-height: 3rem;
}

.button-project-delete {
    position: relative;
    height: 24px;
    width: 24px;
    border: none;
    background: none;
    opacity: .7;
    transition: all .1s;
    cursor: pointer;
    --cross-width: 1px;
}

.button-project-delete::before,
.button-project-delete::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--color-secondary);
}

.button-project-delete::before {
    width: var(--cross-width);
    height: 100%;
}

.button-project-delete::after {
    width: 100%;
    height: var(--cross-width);
}

.button-project-delete:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
}