.project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

.project-row:hover {
    background-color: #ddd;
}

.label-project-name {
    flex-grow: 1;
    height: 3rem;
    line-height: 3rem;
}

.button-project-delete {
    height: 24px;
    width: 24px;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyBmaWxsPSIjMzMzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCI+PHBhdGggZD0iTSA0LjcwNzAzMTIgMy4yOTI5Njg4IEwgMy4yOTI5Njg4IDQuNzA3MDMxMiBMIDEwLjU4NTkzOCAxMiBMIDMuMjkyOTY4OCAxOS4yOTI5NjkgTCA0LjcwNzAzMTIgMjAuNzA3MDMxIEwgMTIgMTMuNDE0MDYyIEwgMTkuMjkyOTY5IDIwLjcwNzAzMSBMIDIwLjcwNzAzMSAxOS4yOTI5NjkgTCAxMy40MTQwNjIgMTIgTCAyMC43MDcwMzEgNC43MDcwMzEyIEwgMTkuMjkyOTY5IDMuMjkyOTY4OCBMIDEyIDEwLjU4NTkzOCBMIDQuNzA3MDMxMiAzLjI5Mjk2ODggeiIvPjwvc3ZnPg==);
    transition: transform .1s;
    cursor: pointer;
}

.button-project-delete:hover {
    transform: rotate(90deg);
}