.dropdown-projects {
    align-self: flex-start;
    z-index: 2;
}

.dropdown-projects.opened {
    background-color: var(--color-primary);
}

.dropdown-option-projects {
    font-size: 1.5rem;
    height: 4rem;
    max-width: 50vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f8f8f8;
    cursor: pointer;
    user-select: none;
    padding: 1rem;
    transition: background-color .1s;
}

.dropdown-option-projects:not(:first-child) {
    display: none;
    height: 2rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    animation: slide-in .1s ease-out;
}

@keyframes slide-in {
    from { margin-top: -1em; }
    to { margin-top: 0; }
}

.dropdown-option-projects:hover,
.dropdown-option-projects:active {
    background-color: var(--color-primary);
}

.dropdown-projects.opened .dropdown-option-projects {
    display: inherit;
}

.dropdown-projects.opened .dropdown-option-projects:not(:first-child) {
    box-shadow: 0px 2px 2px rgb(0 0 0 / .15);
}

.dropdown-projects.opened .dropdown-option-projects:last-child {
    border-radius: 0 0 5px 5px;
}