.moment-panel {
    background-color: teal;
    border-radius: 10px;
    aspect-ratio: 1;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 3em;
    min-width: 0;
}

.moment-panel:hover {
    background-color: olive;
}

.time {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}