.header {
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / .15);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding-left: calc(.5em + 10px);
    margin: 0 auto 0 auto;
    color: var(--color-secondary);
    font-size: 2em;
    height: 100%;
}

@media (min-width: 720px) {
    .headerContent {
        padding-right: calc(.5em + 10px);
    }
}

.logo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;

    span {
        float: left;
    }

    .logoAppear {
        transition: opacity .2s, margin-left .2s .1s;
        margin-left: -100%;
        opacity: 0;
    }

    &:hover .logoAppear {
        transition: margin-left .2s, opacity .2s .1s;
        margin-left: 0;
        opacity: 1;
    }
}