.header {
    background-color: teal;
    height: 100%;
}

.header .header-content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto 0 auto;
    padding: 0 .5em 0 .5em;
    color: white;
    font-size: 2em;
    height: 100%;
}

.logo {
    position: relative;
    overflow: hidden;
}

.logo span {
    float: left;
}

.logo .logo-appear {
    transition: opacity .3s, margin-left .3s .2s;
    margin-left: -100%;
    opacity: 0;
}

.logo:hover .logo-appear {
    transition: margin-left .3s, opacity .3s .2s;
    margin-left: 0;
    opacity: 1;
}