.header {
    background-color: var(--color-accent);
    height: 100%;
    box-shadow: 0px 3px 4px rgb(0 0 0 / .15);
}

.header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto 0 auto;
    padding: 0 calc(.5em + 10px) 0 calc(.5em + 10px);
    color: var(--color-primary);
    font-size: 2em;
    height: 100%;
}

.logo {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.logo span {
    float: left;
}

.logo .logo-appear {
    transition: opacity .2s, margin-left .2s .1s;
    margin-left: -100%;
    opacity: 0;
}

.logo:hover .logo-appear {
    transition: margin-left .2s, opacity .2s .1s;
    margin-left: 0;
    opacity: 1;
}