:root {
  --header-height: 64px;
  --color-primary: #eee;
  --color-secondary: #333;
  --color-accent: #2D4EB3;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.header-container {
  height: var(--header-height);
}

.content {
  height: calc(100vh - var(--header-height));
  max-width: 1400px;
  margin: 0 auto 0 auto;
}

@media (min-width: 720px) {
  .content {
    padding: 0 1em 0 1em;
  }
}