.project-dialog-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 15rem;
    width: 50vw;
    max-width: 25rem;
    margin-top: 1em;
}

.project-dialog-form input {
    display: block;
    width: 100%;
    padding: 1em;
    outline: 1px transparent solid;
    border: none;
    border-radius: 5px;
}

.project-dialog-form input[type=text] {
    margin: .5em 0;
    transition: outline-color .1s;
}

.project-dialog-form input:hover,
.project-dialog-form input:focus {
    outline-color: var(--color-secondary);
}

.project-dialog-form input[type=submit] {
    color: white;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    background-size: 200% auto;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .25s;
}

.project-dialog-form input[type=submit]:hover,
.project-dialog-form input[type=submit]:focus {
    background-position: right center;
}


.project-dialog-form input[type=submit]:disabled {
    background-position: 200%;
    color: inherit;
}